.darkselect > .select-wrapper input.select-dropdown{ border-bottom:none !important; font-size: 1.2rem !important; }
.darkselect > .select-wrapper .caret{ display: none !important; }
.darkselect > .input-field input::-webkit-input-placeholder{ color: #fff !important; }