.form-wrap.form-builder .empty .frmb{ border: 1px solid #ddd; }
.form-wrap.form-builder .frmb-control li:first-child{ border-radius: 0; }
.form-wrap.form-builder .frmb-control li:last-child{ border-radius: 0; }
.form-wrap.form-builder .frmb li:first-child{ border-radius: 0; }
.form-wrap.form-builder .frmb li:last-child{ border-radius: 0; }
.form-wrap.form-builder .btn{ background-color:#000; color:#fff; }
.form-wrap.form-builder .frmb .form-elements{ border-radius: 0; border:none; background:none; }

.form-wrap.form-builder .frmb .form-elements .false-label:first-child, .form-wrap.form-builder .frmb .form-elements label:first-child{ width:100px; }

.form-wrap.form-builder .frmb .field-label, .form-wrap.form-builder .frmb .legend{ font-size:18px; color:#000; font-weight: 600 !important; margin-bottom:20px; }

.form-wrap.form-builder .frmb .form-elements{ padding:0; margin-top:20px !important; }

.form-wrap.form-builder .frmb .prev-holder{ display:none !important; }

.form-wrap.form-builder .frmb li{ padding:20px; }

.form-wrap.form-builder .frmb li.button-field .field-label, .form-wrap.form-builder .frmb li.header-field .field-label, .form-wrap.form-builder .frmb li.paragraph-field .field-label{ display:block; }

.form-wrap.form-builder .frmb .form-elements .false-label:first-child, .form-wrap.form-builder .frmb .form-elements label{ font-size:14px; color:#000; font-weight: normal !important; }

.form-wrap.form-builder .frmb>li:hover{ box-shadow: none; }

.form-wrap.form-builder .form-control { border:1px solid #ccc; }

.form-wrap.form-builder .frmb .fld-label.form-control{ height: auto !important; }

.form-wrap.form-builder .frmb li .close-field{ display:none; }

.form-wrap.form-builder .frmb .sortable-options>li .remove{ color:#fff; }

a{ color:#000; }

.form-wrap.form-builder .frmb-control li:before{ display:none; }

.form-wrap.form-builder *{ font-size: 18px; font-weight:600; }

.form-wrap.form-builder .frmb-control li{ box-shadow: none; border:solid 1px #ddd; padding:20px; }

.form-wrap.form-builder .frmb{ margin:0 10px 0 0; }

.form-wrap.form-builder .empty .frmb{ margin:0 10px 0 0; }

.form-wrap.form-builder .frmb li, .form-wrap.form-builder .frmb li:hover{ box-shadow: none; margin-bottom:10px; border:solid 1px #ddd; background-color:#fff !important; }
.form-wrap.form-builder .frmb li:hover{ border-left:solid 3px #000; }
.editing{ border-left:solid 3px #000 !important; }

.rendered-form > * { margin: 30px 0 0 0; }

.delete-confirm:hover{ background-color: #fff !important; color: #F44336 !important; }
.delete-confirm:before{ font-family: 'Material Icons'; content:"close" !important; }
.icon-pencil:hover{ background-color: #fff !important; color: #000 !important; }
.icon-pencil:before{ font-family: 'Material Icons'; content:"mode_edit" !important; }
.icon-copy:hover{ background-color: #fff !important; color: #4CAF50 !important; }
.icon-copy:before{ font-family: 'Material Icons'; content:"content_copy" !important; }
.form-wrap.form-builder .frmb .field-actions .btn:first-child{ border-bottom-left-radius:0; }
.form-wrap.form-builder .frmb li:first-child .field-actions .btn:last-child{ border-radius:0; }
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{ box-shadow: none !important; }

.form-wrap.form-builder .frmb .field-label, .form-wrap.form-builder .frmb .legend{ font-size:16px !important; }

.rendered-form .fb-radio-group .radio-inline label, .rendered-form .fb-radio-group .radio label{ padding-left: 30px; }
.rendered-form .fb-radio-group .radio, .rendered-form .fb-radio-group .radio-inline{ margin-left: -18px; }
.rendered-form .fb-checkbox-group .checkbox-inline label, .rendered-form .fb-checkbox-group .checkbox label{ padding-left: 30px; }

.mce-panel{ margin-top: 10px; }

.form-wrap.form-builder .frmb-control li .control-icon{ margin-right:20px; }
.form-wrap.form-builder .frmb-control li .control-icon i{ font-weight:normal; font-size:24px; position:relative; top:5px; }

.rendered-form .form-group { margin-bottom: 0px; }
.fb-paragraph p { margin: 0 0 0 0; font-size: 16px !important; }
.section { padding-top: 0px; padding-bottom: 0px;  }

.modal h1, .modal h2, .modal h3, .modal h4 { margin-top: 24px; }

#chartjs-tooltip {
  color: white;
  z-index: 1000;
}

[type="radio"]:disabled+label {
  color: black;
}